.header {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    position: relative;

}

.logo {
    width: 100px;
}

.nav-Items>ul {
    display: flex;
    width: 500px;
    justify-content: space-between;
    position: absolute;
    left: 50rem;
    top: 5px;

}

.nav-Items>ul>li {
    font-size: 20px;
    list-style-type: none;
}

.body {
    position: relative;
}

.searchInput {
    width: 20rem;
    height: 2rem;
    border: 2px solid rgb(185, 175, 175);
    position: absolute;
    left: 5rem;
}

.searchBar {
    font-size: 20px;
    margin-top: 1rem;

}


.restContainer {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;



}

.restCard {
    width: 12rem;

    margin: 5px;
    background-color: rgb(215, 215, 206);
    padding: 8px;
}

.restCard:hover {
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.restImage {
    width: 12rem;
    height: 9rem;

}

.filterBtn {
    margin-left: 3px;
    margin-top: 25px;

}